.body{
    display: flex;
    justify-content: center;
}


.main {
    display: flex;
    flex-direction: column;
    
    width: 462px;
    border: 5px solid black;
}
.lineDiv {
    display: flex;
    flex-direction: row;
}
.tile {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}

.wall {
    background-image: url(./img/maze-wall.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    background-position: center;
}

.paths {
    background-color: yellow;
    width: 40px;
    height: 40px;
}

.start {
    width: 40px;
    height: 40px;
}

.tresor {
    width: 40px;
    height: 40px;
    background-image: url(./img/tresor.png);
    background-size: contain;
    background-position: center;
}

.player {
    width: 30px;
    height: 30px;
    background-image: url(./img/indianaplayer.png);
    background-size: contain;
    background-position: center;
   
    

}
p.timer {
    display: flex;
    justify-content: center;
}
input.button {
    display: flex;
    justify-content: center;
}